@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>cost service</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Service ID</th>
            <th scope="col">Service Name</th>
            <th scope="col">Price(Customer)</th>
            <th scope="col">Cost(Cleaner)</th>
            <th scope="col">Status</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td></td>
        </tr>
    </tbody>
</table>
