@{
    ViewBag.Title = "Home Page";
}
<!doctype html>
<html lang="en">
<head>
 
    <title>Clean Guru!</title>

 
</head>
<body>
    <div style="margin-left:auto; margin-right:auto">
        <img src="~/images/bg_image.jpg" />
    </div>

    
    </body>
</html>