@{
    ViewBag.Title = "Home Page";
}
<!doctype html>
<html lang="en">
<head>
 
    <title>Clean Guru!</title>

   
</head>
<body style="background-image:url(/images/bg_image.jpg); background-repeat:no-repeat; background-size:cover">
    <h1>Welcome to Home Page!</h1>
    @*<button type="button" class="btn btn-primary">Primary</button>*@
    </body>
</html>