
@model Appointment

@{
    ViewData["Title"] = "Delete";
}

@if (Model == null)
{
    <h2>No such appointment</h2>
}
else
{

    <h3 class="warning">Are you sure you want to cancel this service ?</h3>
    <br />
    <div>
        <form asp-action="Delete">
            <partial name="ServiceDetail" />
            <input type="hidden" asp-for="IdAppointment" />
            <input type="submit" value="Cancel" class="btn btn-primary" />
            <a asp-action="FutureAppointment" class="btn btn-primary">Back to List</a>
        </form>
    </div>
}
