
@model Appointment

@{
    ViewData["Title"] = "Delete";
}

@if (Model == null)
{
    <h2>No appointments</h2>
}
else
{

    <h3 class="warning">Are you sure you want to delete this appointment ?</h3>
    <div align="right">
        <a asp-action="FutureAppointment" asp-controller="Appointment" class="warning" a>Back to List</a>
    </div>
    <br />
    <div>
        <form asp-action="Delete">
            <partial name="AppointmentDetail" />
            <input type="hidden" asp-for="IdAppointment" />
            <input type="submit" value="Delete" class="btn btn-primary" />
        </form>
    </div>
}
