
@model Appointment

@{
    ViewData["Title"] = "Details";
}

@if (Model == null)
{
    <h2>No such appointment</h2>
}
else
{
    <partial name="AppointmentDetail" />
    <a asp-action="FutureAppointment" class="btn btn-primary">Back to List</a>
}
