@model CleanGuruApp.Models.ServicePrice

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ServicePrice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdServicePrice" />
            <div class="form-group">
                <label asp-for="ServicePriceDescr" class="control-label"></label>
                <input asp-for="ServicePriceDescr" class="form-control" />
                <span asp-validation-for="ServicePriceDescr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CtAmountHour" class="control-label"></label>
                <input asp-for="CtAmountHour" class="form-control" />
                <span asp-validation-for="CtAmountHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClAmountHour" class="control-label"></label>
                <input asp-for="ClAmountHour" class="form-control" />
                <span asp-validation-for="ClAmountHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicePriceStatus" class="control-label"></label>
                <input asp-for="ServicePriceStatus" class="form-control" />
                <span asp-validation-for="ServicePriceStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

