
@model Appointment

@{
    ViewData["Title"] = "Accept";
}

@if (Model == null)
{
    <h2>No appointments</h2>
}
else
{
    <div align="right">
        <a asp-action="CleanerAppointment" asp-controller="Appointment" class="warning" a>Back to List</a>
    </div>
    <partial name="AppointmentDetail" />
    <br /> 
}